html {
    height: 100%;
}

body {
    font-family: "Calibri Light", Calibri, Arial, sans-serif;
    font-size: $default-font-size;
    // min-height: 100%;
    padding: 0;
    margin: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}