/**
 * Gets the next value in an array based on selected value
 * 
 * @param mixed $current-value
 * @param map $map-array
 * 
 * @return mixed
 */
@function map-next-value( $current-value, $map-array ) {

    // get current key from list
	$map-array-keys: map-keys( $map-array );
	$current-value-index: index( $map-array-keys, $current-value );

	// find index of current value and add 1
	$next-value-index: $current-value-index + 1;

	// get value from list with new index
	$next-value-key: nth( $map-array-keys, $next-value-index );
	$next-value: map-get( $map-array, $next-value-key );

	// Return value
	@return $next-value;
}