$default-font-size: $base-size;

/**
 * These are all in px
 * Used with @mixin font-size... 
 * Which will convert this into fluid typography
 * 
 * Map key: heading level (h1, h2, h3...)
 * Map value = list: 
 * - 1st number is the mobile font size
 * - 2nd number is the desktop font size
 */
$heading-font-sizes: (
    h1: (36, 46),
    h2: (28, 32),
    h3: (24, 28),
    h4: (20, 24),
    h5: (16, 20),
    h6: (14, 16)
);